pre {
  font-family: 'Source Code Pro', 'Courier New', monospace;
  font-size: 20px;
  line-height: 28px;
  padding: 10px 0 10px 60px;
  letter-spacing: -1px;
  margin-bottom: 20px;
  width: 106%;
  left: -60px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*overflow: hidden;*/
}

.smallText p {
  font-size: 16px;
}

.smallBullet li {
  font-size: 16px;
}

.smallCode pre {
  font-size: 2px;
}

.floatBullet li {
  font-size: 12px;
  float: left;
  width: 200px;
  padding: 2px 0px 2px 0px; /*top, right, bottom, left*/
  /*counter-reset: section;*/
  /*margin: 0px;*/
  /*list-style-type: decimal;*/
}
